<a href="https://colab.research.google.com/github/datagrad/Learning-Python/blob/main/Data_Types_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Types

Python has the following data types built-in by default, in these categories:

* Text Type:	`str`
* Numeric Types:	`int`, `float`, `complex`
* Sequence Types:	`list`, `tuple`, `range`
* Mapping Type:	`dict`
* Set Types:	`set`, `frozenset`
* Boolean Type:	`bool`
* Binary Types:	`bytes`, `bytearray`, `memoryview`

## Finding the data type of given data

In [5]:
x = 5
y = "My Text"

print(type(x))
print(type(y))

<class 'int'>
<class 'str'>


---

## string	
a = "Hello World"	

---

## Integer
b = 20

---

## float	
c = 20.5

---

## complex
d = 1j	

---

## list	
e = ["apple", "banana", "cherry"]

---

## tuple	
f = ("apple", "banana", "cherry")

---

## range	
g = range(6)

---


## dict	
h = {"name" : "John", "age" : 36}

---

## set	
i = {"apple", "banana", "cherry"}

---

## frozenset	
j = frozenset({"apple", "banana", "cherry"})

---

## bool	
k = True

---

## bytes	
l = b"Hello"

---

## bytearray	
m = bytearray(5)

---

## memoryview
n = memoryview(bytes(5))

---

In [22]:
# string	
a = "Hello World"	
print(type(a))

<class 'str'>

In [23]:
# Integer
b = 20
print(type(b))

<class 'int'>

In [24]:
# float	
c = 20.5
print(type(c))

<class 'float'>

In [25]:
# complex
d = 1j	
print(type(d))

<class 'complex'>

In [26]:
# list	
e = ["apple", "banana", "cherry"]
print(type(e))

<class 'list'>

In [27]:
# tuple	
f = ("apple", "banana", "cherry")
print(type(f))

<class 'tuple'>

In [28]:
# range	
g = range(6)
print(type(g))

<class 'range'>

In [29]:
# dict	
h = {"name" : "John", "age" : 36}
print(type(h))

<class 'dict'>

In [30]:
# set	
i = {"apple", "banana", "cherry"}
print(type(i))

<class 'set'>

In [31]:
# frozenset	
j = frozenset({"apple", "banana", "cherry"})
print(type(j))

<class 'frozenset'>

In [32]:
# bool	
k = True
print(type(k))

<class 'bool'>

In [19]:
# bytes	
l = b"Hello"
print(type(l))

<class 'bytes'>

In [20]:
# bytearray	
m = bytearray(5)
print(type(m))

<class 'bytearray'>

In [21]:

# memoryview
n = memoryview(bytes(5))
print(type(n))

<class 'memoryview'>