<a href="https://colab.research.google.com/github/datagrad/Learning-Python/blob/main/Data_Types_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Types

Python has the following data types built-in by default, in these categories:

* Text Type:	`str`
* Numeric Types:	`int`, `float`, `complex`
* Sequence Types:	`list`, `tuple`, `range`
* Mapping Type:	`dict`
* Set Types:	`set`, `frozenset`
* Boolean Type:	`bool`
* Binary Types:	`bytes`, `bytearray`, `memoryview`

# Finding the data type of given data

In [5]:
x = 5
y = "My Text"

print(type(x))
print(type(y))

<class 'int'>
<class 'str'>


---

## string	
a = "Hello World"	

---

## Integer
b = 20

---

## float	
c = 20.5

---

## complex
d = 1j	

---

## list	
e = ["apple", "banana", "cherry"]

---

## tuple	
f = ("apple", "banana", "cherry")

---

## range	
g = range(6)

---


## dict	
h = {"name" : "John", "age" : 36}

---

## set	
i = {"apple", "banana", "cherry"}

---

## frozenset	
j = frozenset({"apple", "banana", "cherry"})

---

## bool	
k = True

---

## bytes	
l = b"Hello"

---

## bytearray	
m = bytearray(5)

---

## memoryview
n = memoryview(bytes(5))

---

In [33]:
# string	
a = "Hello World"	
print(a)
print(type(a))

Hello World
<class 'str'>

In [34]:
# Integer
b = 20
print(b)
print(type(b))

20
<class 'int'>

In [35]:
# float	
c = 20.5

print(c)
print(type(c))

20.5
<class 'float'>

In [36]:
# complex
d = 1j	
print(d)
print(type(d))

1j
<class 'complex'>

In [37]:
# list	
e = ["apple", "banana", "cherry"]
print(e)
print(type(e))

['apple', 'banana', 'cherry']
<class 'list'>

In [27]:
# tuple	
f = ("apple", "banana", "cherry")
print(type(f))

<class 'tuple'>

In [38]:
# range	
g = range(6)
print(g)
print(type(g))

range(0, 6)
<class 'range'>

In [39]:
# dict	
h = {"name" : "John", "age" : 36}
print(h)
print(type(h))

{'name': 'John', 'age': 36}
<class 'dict'>

In [40]:
# set	
i = {"apple", "banana", "cherry"}
print(i)
print(type(i))

{'apple', 'cherry', 'banana'}
<class 'set'>

In [31]:
# frozenset	
j = frozenset({"apple", "banana", "cherry"})
print(type(j))

<class 'frozenset'>

In [32]:
# bool	
k = True
print(type(k))

<class 'bool'>

In [19]:
# bytes	
l = b"Hello"
print(type(l))

<class 'bytes'>

In [20]:
# bytearray	
m = bytearray(5)
print(type(m))

<class 'bytearray'>

In [21]:

# memoryview
n = memoryview(bytes(5))
print(type(n))

<class 'memoryview'>

# Setting the Data Type for input

In [41]:
x = str("Hello World")

In [42]:
x = int(20)

In [43]:
x = float(20.5)

In [45]:
x = int(20.5)	
print(x)

20

In [47]:
x = complex(1j)	
print(x)

1j

In [49]:
x = list(("apple", "banana", "cherry"))	
print(x)

['apple', 'banana', 'cherry']

In [51]:
x = tuple(("apple", "banana", "cherry"))	
print(x)

('apple', 'banana', 'cherry')

In [55]:
x = dict(name="John", age=36)	
print(x)

{'name': 'John', 'age': 36}

In [56]:
x = set(("apple", "banana", "cherry"))	
print(x)

{'apple', 'cherry', 'banana'}

In [58]:
x = frozenset(("apple", "banana", "cherry"))	
print(x)

frozenset({'apple', 'cherry', 'banana'})

In [59]:
x = bool(5)

In [60]:
x = bytes(5)

In [61]:
x = bytearray(5)

In [62]:
x = memoryview(bytes(5))

# Numbers in Python
* A given number in one format can be converted from one type to another with the `int()`, `float()`, and `complex()` methods.
* A complex number with imaginary part can not be converted to integer or Float. For example: `3+3j`. Even a complex number with "0j" as imaginary part can't be converted to Float or Int.



---


* int: Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.


 *  x = 1


---


* float: Float, or "floating point number" is a number, positive or negative, containing one or more decimals. Float can also be scientific numbers with an "e" to indicate the power of 10.



  * y = 2.8


---


* complex: Complex numbers are written with a "j" as the imaginary part.


  * z = 1j

---

In [65]:
# convert an integer to other two number forms

x = 5
print(int(x))
print(float(x))
print(complex(x))

5
5.0
(5+0j)

In [66]:
# convert an integer to other two number forms

x = 5.5
print(int(x))
print(float(x))
print(complex(x))

5
5.5
(5.5+0j)

In [72]:
# converting an complex number to other two number forms fails

x = 5-3j
#print(int(x))
#print(float(x))
print(complex(x))

(5-3j)

In [75]:
# converting an complex number to other two number forms fails

x = 5-0j
print(complex(x))

(5+0j)

# Random Number

Python has a built-in module called random that can be used to make random numbers.

In [77]:
# Import the random module, and display a random number between 1 and 9:

import random

print(random.randrange(1, 10))

3

# Casting

Casting in python is done using constructor functions:


---


* int() - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)


---


* float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)


---


* str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals


---

In [81]:
# Converting to Integer

x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

print(x)
print(y)
print(z)

1
2
3

In [82]:
# Converting to Float

x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

In [85]:
# Converting to string

x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'
print(x)
print(y)
print(z)

s1
2
3.0