<a href="https://colab.research.google.com/github/datagrad/Learning-Python/blob/main/List_Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Creating a List

In [1]:
# Creating a List
List_1 = []
print(List_1)

print("===========================================================")

# Creating a List of numbers
List_2 = [10, 20, 14]
print(List_2)

print("===========================================================")

# Creating a List of strings and accessing
List_3 = ["Start", "Learning", "Lists"]
print(List_3[0])
print(List_3[2])

print("===========================================================")

# Creating a Multi-Dimensional List By Nesting a list inside a List)
List_4 = [['Geeks', 'For'], ['Geeks']]
print(List_4)

[]
===========================================================
[10, 20, 14]
===========================================================
Start
Lists
===========================================================
[['Geeks', 'For'], ['Geeks']]

# Size of List

In [2]:
List= [0,1,2,3,4,5,6,7,8,9]
print(List)

print("Size of List:",len(List))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Size of List: 10

# Adding Elements to a List

* Append() : The term inside bracket will be added as the last term of list.
* insert() : To add an element at a given index of the list
* extend() : To add multiple elements at the same time at the end of the list.

In [3]:
List.append(3)
print("New term has been added at the end in the list: ",List)

New term has been added at the end in the list:  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 3]

In [4]:
List.insert(0,99)
print("New term will be added at the 0th index in the list: ",List)

New term will be added at the 0th index in the list:  [99, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 3]

In [5]:
List.insert(-1,199)
print("New term will be added at the 0th index in the list: ",List)

New term will be added at the 0th index in the list:  [99, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 199, 3]

In [6]:
print(List[0])

99

In [7]:
# Extend
List = [0,1,2,3,4,5,6,7,8,9]
List.extend(["a","bcd","efg","hi","JK","L"])
print(List)

# Add a list inside (), and the terms will be added to List

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'bcd', 'efg', 'hi', 'JK', 'L']

# Accessing elements from the List
* List[n-1]
* List[-m]

In [8]:
List= [0,1,2,3,4,5,6,7,8,9]


print(List)
print ("========================================================================")
print("0th element: ",List[0])
print("1st element: ",List[1])
print("2nd element: ",List[2])
print("Last element: ",List[-1])
print("3rd element from end: ",List[-3])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
========================================================================
0th element:  0
1st element:  1
2nd element:  2
Last element:  9
3rd element from end:  7

# Removing Elements from list

* remove() : Removes the term mentioned inside bracket.
* pop() : Removes the term based on index

In [9]:
List = ["a","bcd","efg","hi","JK","L"]
#List.remove(1)
print(List.pop())
print(List.pop(1))

L
bcd

In [11]:
List = [2,4,6,7,"a","bcd","efg","hi","JK","L"]
List.remove(7)
print(List)

[2, 4, 6, 'a', 'bcd', 'efg', 'hi', 'JK', 'L']

In [12]:
List = ["a","bcd","efg","hi","JK","L"]
print(List.pop(1))
print(List)

bcd
['a', 'efg', 'hi', 'JK', 'L']

In [13]:
List.pop(0)
print(List)

['efg', 'hi', 'JK', 'L']

In [14]:
List1 = [9,8,7,6,5,4,3,2,1,0]
List2 = [9,8,7,6,5,4,3,2,1,0]

List1.remove(1)
print("Removes the term 1 from the list: ", List1)

List2.pop(1)
print("Removes the term which is on 1st in the list: ",List2)

Removes the term 1 from the list:  [9, 8, 7, 6, 5, 4, 3, 2, 0]
Removes the term which is on 1st in the list:  [9, 7, 6, 5, 4, 3, 2, 1, 0]

# Slicing of list
* List[a:b]  =>  ath term is inclusive, bth term is exclusive.
* List[a:]
* List[:b]

In [15]:
List= [0,1,2,3,4,5,6,7,8,9]
print(List[1:6])
# O/P: items on 1st index to 5th index

[1, 2, 3, 4, 5]

In [16]:
List= [0,1,2,3,4,5,6,7,8,9]
print(List[1:])
# O/P: items on 1st index to after that

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
List= [0,1,2,3,4,5,6,7,8,9]
print(List[:6])
# O/P: items before 6th index

[0, 1, 2, 3, 4, 5]

In [18]:
List= [0,1,2,3,4,5,6,7,8,9]
print(List[-1])
# O/P: items on the last index

9

In [19]:
List= [0,1,2,3,4,5,6,7,8,9]
print(List[-5:-1])
# O/P: items on -5th index to -2nd index

[5, 6, 7, 8]

In [20]:
List= [0,1,2,3,4,5,6,7,8,9]
print(List[:-1])
# O/P: items on -5th index to -2nd index

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [21]:
List= [0,1,2,3,4,5,6,7,8,9]
print(List[-7:])
# O/P: items on -5th index to -2nd index

[3, 4, 5, 6, 7, 8, 9]

# List Comprehension
* List comprehensions are used for creating new lists from other iterables like tuples, strings, arrays, lists, etc.
* A list comprehension consists of brackets containing the expression, which is executed for each element along with the for loop to iterate over each element.

# List Functions	& Description



---


* Append()
    * Adds an element to the end of the list
---

* Extend()
    * Add all elements of a list to another list

---

* Insert()
    * Insert an item at the defined index

---

* Remove()
    * Removes an item from the list

---

* Pop()
    * Removes and returns an element at the given index

---

* Clear()
    * Removes all items from the list

---

* Index()
    * Returns the index of the first matched item

---

* Count()
    * Returns the count of the number of items passed as an argument

---

* Sort()
    * Sort items in a list in ascending order

---

* Reverse()
    * Reverse the order of items in the list

---

* copy()
    * Returns a copy of the list

---