<a href="https://colab.research.google.com/github/datagrad/Learning-Python/blob/main/List_Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Creating a List

In [1]:
# Creating a List
List_1 = []
print(List_1)

print("===========================================================")

# Creating a List of numbers
List_2 = [10, 20, 14]
print(List_2)

print("===========================================================")

# Creating a List of strings and accessing
List_3 = ["Start", "Learning", "Lists"]
print(List_3[0])
print(List_3[2])

print("===========================================================")

# Creating a Multi-Dimensional List By Nesting a list inside a List)
List_4 = [['Geeks', 'For'], ['Geeks']]
print(List_4)

[]
===========================================================
[10, 20, 14]
===========================================================
Start
Lists
===========================================================
[['Geeks', 'For'], ['Geeks']]

# Size of List

## len(List)

In [2]:
List= [0,1,2,3,4,5,6,7,8,9]
print(List)

print("Size of List:",len(List))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Size of List: 10

# Adding Elements to a List

## Append()
* The term inside bracket will be added as the last term of list.


## insert()
* To add an element at a given index of the list


## extend()
* To add multiple elements at the same time at the end of the list.

In [3]:
List.append(3)
print("New term has been added at the end in the list: ",List)

New term has been added at the end in the list:  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 3]

In [4]:
List.insert(0,99)
print("New term will be added at the 0th index in the list: ",List)

New term will be added at the 0th index in the list:  [99, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 3]

In [5]:
List.insert(-1,199)
print("New term will be added at the 0th index in the list: ",List)

New term will be added at the 0th index in the list:  [99, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 199, 3]

In [6]:
print(List[0])

99

In [7]:
# Extend
List = [0,1,2,3,4,5,6,7,8,9]
List.extend(["a","bcd","efg","hi","JK","L"])
print(List)

# Add a list inside (), and the terms will be added to List

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'bcd', 'efg', 'hi', 'JK', 'L']

# Accessing elements from the List
* List[n-1]
* List[-m]

### List[n]

### List[-n]

### List[n:]

### List[:m]

### List[n:m]

### List[-m:-n]

###  List[a : b : c]
* a is first term of list
* b-1 can be the last term of list if satisfies the condition
* c is the step size

For Example:
* List[1 : 17 : 2]:
  * 1 can be the first term of list if condition is satisfied*
  * 16 will be the last term of the list if condition is satisfied*
  * 2 will be the step size

In [8]:
List = list(range(0,21))
#  below list has numbers from 2 to 8 in step 2
List_1_17_2 = List[1 : 17 : 2]
print (List_1_17_2)


List_1_18_2 = List[1 : 18 : 2]
print (List_1_18_2)

[1, 3, 5, 7, 9, 11, 13, 15]
[1, 3, 5, 7, 9, 11, 13, 15, 17]

In [9]:
List = list(range(0,21))

List_1 = List[1 : 17 : 5]    # Here 16 is last term and satisfies the step size of 5 condition
print ("List[1 : 17 : 5] =>  ",List_1)

print("")
print("")


List_2 = List[4 : 17 : 5]    # Here 16 is last term but doesn't satisfies the step size of 5 condition
print ("List[4 : 17 : 5] =>  ",List_2)

print("")
print("")


List_3 = List[ :  : -1]
print ("List[ :  : -1] =>  ",List_3)

print("")
print("")

List_4 = List[ 7: 14 : -4]   # Returns empty list as the -4 indicates a reverse list, while 7 to 14 is towards increasing sequence
print ("List[ 7: 14 : -4] =>  ",List_4)

print("")
print("")

List_5 = List[ : : -4]   # Returns empty list as the -4 indicates a reverse list, while 7 to 14 is towards increasing sequence
print ("List[ : : -4] =>  ",List_5)

List[1 : 17 : 5] =>   [1, 6, 11, 16]


List[4 : 17 : 5] =>   [4, 9, 14]


List[ :  : -1] =>   [20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]


List[ 7: 14 : -4] =>   []


List[ : : -4] =>   [20, 16, 12, 8, 4, 0]

In [10]:
List= [0,1,2,3,4,5,6,7,8,9]


print(List)
print ("========================================================================")
print("0th element: ",List[0])
print("1st element: ",List[1])
print("2nd element: ",List[2])
print("Last element: ",List[-1])
print("3rd element from end: ",List[-3])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
========================================================================
0th element:  0
1st element:  1
2nd element:  2
Last element:  9
3rd element from end:  7

# Removing Elements from list

### remove()
* Removes the term mentioned inside bracket.

### pop()
* Removes the term based on index

In [11]:
List = ["a","bcd","efg","hi","JK","L"]
#List.remove(1)
print(List.pop())
print(List.pop(1))

L
bcd

In [12]:
List = [2,4,6,7,"a","bcd","efg","hi","JK","L"]
List.remove(7)
print(List)

[2, 4, 6, 'a', 'bcd', 'efg', 'hi', 'JK', 'L']

In [13]:
List = ["a","bcd","efg","hi","JK","L"]
print(List.pop(1))
print(List)

bcd
['a', 'efg', 'hi', 'JK', 'L']

In [14]:
List.pop(0)
print(List)

['efg', 'hi', 'JK', 'L']

In [15]:
List1 = [9,8,7,6,5,4,3,2,1,0]
List2 = [9,8,7,6,5,4,3,2,1,0]

List1.remove(1)
print("Removes the term 1 from the list: ", List1)

List2.pop(1)
print("Removes the term which is on 1st in the list: ",List2)

Removes the term 1 from the list:  [9, 8, 7, 6, 5, 4, 3, 2, 0]
Removes the term which is on 1st in the list:  [9, 7, 6, 5, 4, 3, 2, 1, 0]

# Slicing of list
* List[a:b]  =>  ath term is inclusive, bth term is exclusive.
* List[a:]
* List[:b]

## List[a:b]

In [16]:
List= [0,1,2,3,4,5,6,7,8,9]
print(List[1:6])
# O/P: items on 1st index to 5th index

[1, 2, 3, 4, 5]

In [17]:
List= [0,1,2,3,4,5,6,7,8,9]
print(List[1:])
# O/P: items on 1st index to after that

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
List= [0,1,2,3,4,5,6,7,8,9]
print(List[:6])
# O/P: items before 6th index

[0, 1, 2, 3, 4, 5]

In [19]:
List= [0,1,2,3,4,5,6,7,8,9]
print(List[-1])
# O/P: items on the last index

9

In [20]:
List= [0,1,2,3,4,5,6,7,8,9]
print(List[-5:-1])
# O/P: items on -5th index to -2nd index

[5, 6, 7, 8]

In [21]:
List= [0,1,2,3,4,5,6,7,8,9]
print(List[:-1])
# O/P: items on -5th index to -2nd index

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [22]:
List= [0,1,2,3,4,5,6,7,8,9]
print(List[-7:])
# O/P: items on -5th index to -2nd index

[3, 4, 5, 6, 7, 8, 9]

# List Comprehension
* List comprehensions are used for creating new lists from other iterables like tuples, strings, arrays, lists, etc.
* A list comprehension consists of brackets containing the expression, which is executed for each element along with the for loop to iterate over each element.

#### Steps

* Create the empty List
* Write the input condition 
* Pull the required data from input
* Check with Operation, if condition is satisfiedm then append to list using .append()
* print (List)

In [23]:
# Creating a List based on expression
odd_square = [x ** 2 for x in range(1, 11) if x % 2 == 1]
print(odd_square)

#O/P : creates a list of squares of all odd number in (1,11)

[1, 9, 25, 49, 81]

In [24]:
# Detailed Approach
odd_square = []                        # Create the empty List
for x in range(1, 11):                 # Write the input condition 
    if x % 2 == 1:                     # Pull the required data from input
        odd_square.append(x**2)        # Operation is x**2 and then append to list using .append()
print (odd_square)                     # print the output

[1, 9, 25, 49, 81]

In [25]:
# Print the list of terms which are divisible by 3 in (1,37)

List = []
for x in range(1,37):
  if x%3 == 0:
    List.append(x)

print(List)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36]

In [26]:
List = ["A","B","C","D","E","F","G"]

List_Low = []
for x in List:
  List_Low.append(x.lower())

print(List_Low)

List_Up = []
for y in List_Low:
  List_Up.append(y.upper())
print(List_Up)

['a', 'b', 'c', 'd', 'e', 'f', 'g']
['A', 'B', 'C', 'D', 'E', 'F', 'G']

In [27]:
string = "my phone number is : 11122 !!"
   

numbers = [x for x in string] 
print (numbers)

['m', 'y', ' ', 'p', 'h', 'o', 'n', 'e', ' ', 'n', 'u', 'm', 'b', 'e', 'r', ' ', 'i', 's', ' ', ':', ' ', '1', '1', '1', '2', '2', ' ', '!', '!']

In [28]:
string = "my phone number is : 11122 !!"
   
print("\nExtracted digits") 
numbers = [x for x in string if x.isdigit()] 
print (numbers)

Extracted digits
['1', '1', '1', '2', '2']

In [29]:
# A list of list for multiplication table 
a = int(input())
table = [[a, b, a * b] for b in range(1, 11)] 
   
print("\nMultiplication Table") 
for i in table: 
    print (i)

9

Multiplication Table
[9, 1, 9]
[9, 2, 18]
[9, 3, 27]
[9, 4, 36]
[9, 5, 45]
[9, 6, 54]
[9, 7, 63]
[9, 8, 72]
[9, 9, 81]
[9, 10, 90]

In [30]:
# Take input as an Integer and write the table
List=[]
b = int(input())

for i in range(1,10):
  List.append(i*b)
print(List)

97
[97, 194, 291, 388, 485, 582, 679, 776, 873]


# List Functions	& Description



---


* Append()
    * Adds an element to the end of the list
---

* Extend()
    * Add all elements of a list to another list

---

* Insert()
    * Insert an item at the defined index

---

* Remove()
    * Removes an item from the list

---

* Pop()
    * Removes and returns an element at the given index

---

* Clear()
    * Removes all items from the list

---

* Index()
    * Returns the index of the first matched item

---

* Count()
    * Returns the count of the number of items passed as an argument

---

* Sort()
    * Sort items in a list in ascending order

---

* Reverse()
    * Reverse the order of items in the list

---

* copy()
    * Returns a copy of the list

---

In [48]:
List = [0,1,2,3,4,5,6,7,8,9,10,11,132,11, 12, 1312345,999]

List.append(5)
print(List)


List.extend([100,120])
print(List)

List.insert(1,320)
print(List)

List.remove(999)
print(List)

List.pop(-1)
print(List)

List.sort()
print(List)

List.reverse()
print(List)

print(List.index(7))


print(List.count(11))



List.reverse()

List.copy()
print(List)

List.clear()
print(List)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 132, 11, 12, 1312345, 999, 5]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 132, 11, 12, 1312345, 999, 5, 100, 120]
[0, 320, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 132, 11, 12, 1312345, 999, 5, 100, 120]
[0, 320, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 132, 11, 12, 1312345, 5, 100, 120]
[0, 320, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 132, 11, 12, 1312345, 5, 100]
[0, 1, 2, 3, 4, 5, 5, 6, 7, 8, 9, 10, 11, 11, 12, 100, 132, 320, 1312345]
[1312345, 320, 132, 100, 12, 11, 11, 10, 9, 8, 7, 6, 5, 5, 4, 3, 2, 1, 0]
10
2
[0, 1, 2, 3, 4, 5, 5, 6, 7, 8, 9, 10, 11, 11, 12, 100, 132, 320, 1312345]
[]

In [34]:
List.reverse()

print(List)

[]

In [30]:
Clear()
    * Removes all items from the list


* copy()
    * Returns a copy of the list

---

# Create list using Lambda Functions

In [31]:
# filtering odd numbers


lst = filter(lambda x : x % 2 == 1, range(1, 20))           # Using Lambda Function
print (list(lst))

List=[]                                                     # Using Loop and append
for x in range(1,20):                                       
  if x % 2 == 1:
    List.append(x)
print(List)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [32]:
# filtering odd square which are divisible by 5
List = []

for x in range(1,11):
  if x%2 == 1:
    if (x**2)%5 == 0:
      List.append(x**2)
print(List)


lst = filter(lambda x : x % 5 == 0,
	[x ** 2 for x in range(1, 11) if x % 2 == 1])
print (list(lst))

[25]
[25]

In [33]:
# filtering negative numbers
List = []
for x in range(-5,5):
  if x<0:
    List.append(x)
print(List)


lst = filter((lambda x: x < 0), range(-5,5))
print (list(lst))

[-5, -4, -3, -2, -1]
[-5, -4, -3, -2, -1]

# Nested List Comprehensions (MATRIX)


* Creating a Matrix
matrix = 
          [[0, 1, 2, 3, 4],
          [0, 1, 2, 3, 4],
          [0, 1, 2, 3, 4],
          [0, 1, 2, 3, 4],
          [0, 1, 2, 3, 4]]

Matrix with a set of Lists can be created in 2 Steps:
1. Create a List of Sub-lists

matrix = []
  
for i in range(5):
      
    # Append an empty sublist inside the list
    matrix.append([])
    for j in range(5):
      matrix[i].append(j)
      
print(matrix)

In [54]:
# 5x5 Matrix

matrix = []                       # Create an empty list

for i in range(5):                # For 5 rows inset 5 Sub lists using append([]) for range(5)
  matrix.append([])               # A matrix (List) is created with i number of sublists  
  for j in range(5):              # Feed the number of Columns as j
    matrix[i].append(j)           # Fill the values in sublists using .append with values based on j

print(matrix)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [ ]:
# Method 2
matrix = [[j for j in range(5)] for i in range(5)]
  
print(matrix)

Output:

          [[0, 1, 2, 3, 4],
           [0, 1, 2, 3, 4],
           [0, 1, 2, 3, 4],
           [0, 1, 2, 3, 4],
           [0, 1, 2, 3, 4]]

In [55]:
# 5x3 Matrix of "0"

matrix = []                       # Create an empty list

for i in range(5):                # For 5 rows inset 5 Sub lists using append([]) for range(5)
  matrix.append([])               # A matrix (List) is created with i number of sublists  
  for j in range(3):              # Feed the number of Columns as j
    matrix[i].append(0)           # Fill the values in sublists using .append with values based on j

print(matrix)

[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]

Output:
        
        [[0, 0, 0], 
        [0, 0, 0], 
        [0, 0, 0], 
        [0, 0, 0], 
        [0, 0, 0]]

In [37]:
matrix = []
  
for i in range(5):
      
    # Append an empty sublist inside the list
    matrix.append([])
      
    for j in range(5):
        matrix[i].append(j)
          
print(matrix)

print("=============================================================================")

matrix = [[j for j in range(5)] for i in range(5)]
  
print(matrix)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]
=============================================================================
[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [43]:
matrix = []
  
for i in range(5):
      
    # Append an empty sublist inside the list
    matrix.append([])
    for j in range(5):
      matrix[i].append(j)
      
print(matrix)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [5]:
matrix = [[1, 2, 3], [3,4, 5], [6, 7, 8, 9]]
  
flatten_matrix = []
  
for sublist in matrix:
    for val in sublist:
        flatten_matrix.append(val)
          
print(flatten_matrix)

[1, 2, 3, 3, 4, 5, 6, 7, 8, 9]

In [3]:
# 2-D List
matrix = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

# Nested List Comprehension to flatten a given 2-D matrix
flatten_matrix = [val for sublist in matrix for val in sublist]

print(flatten_matrix)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
# 2-D List of planets
planets = [['Mercury', 'Venus', 'Earth'], ['Mars', 'Jupiter', 'Saturn'], ['Uranus', 'Neptune', 'Pluto']]

flatten_planets = []

for sublist in planets:
	for planet in sublist:
		
		if len(planet) < 6:
			flatten_planets.append(planet)
		
print(flatten_planets)

['Venus', 'Earth', 'Mars', 'Pluto']