<a href="https://colab.research.google.com/github/datagrad/Learning-Python/blob/main/Python_Collections_(Arrays).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro to Arrays

There are four collection data types in the Python programming language:

1. **List** is an ordered and changeable collection that allows duplicate members.
        [1,2,3]


---



2. **Set** is an unordered, unchangeable, and unindexed collection that can't have any duplicate members. 
        {1,2,3}


---



3. **Tuple** is an ordered and unchangeable collection that allows duplicate members.
        (1,2,3)



---


4. **Dictionary** is an ordered and changeable collection without any duplicate members, it can have duplicate values for distinct key, but can never have duplicate key.
        {5:'Five', 3:'Three', 10:'Ten'}



---

# Adding and Removing Items from List, Set, Dictionary
**Note that tuples are immutable.**

## Lists

In [ ]:
l = []

# Adding Element into list
l.append("a")
l.append(10)
print("Adding a and 10 in list", l)

# Popping Elements from list
l.pop()
print("Popped one element from end of the list", l)
print()

Adding a and 10 in list ['a', 10]
Popped one element from end of the list ['a']

## Set

In [ ]:

s = set()

# Adding element into set
s.add("abc")
s.add(10)
print("Adding abc and 10 in set", s)

# Removing element from set
s.remove("abc")
print("Removing abc from set", s)
print()

Adding abc and 10 in set {10, 'abc'}
Removing abc from set {10}

## Tuple

In [ ]:
#Creating a tuple with elements of a list

list_p=[1,"abc",3.5]

t = tuple(list_p)
print("Tuple", t)
print()

# cant add or remove an item, Tuples are immutable!


#creating a tuple with simple elements 
thistuple = ("apple", "banana", "cherry")
print(thistuple)

Tuple (1, 'abc', 3.5)

('apple', 'banana', 'cherry')

## Dictionary

In [ ]:
d = {}

# Adding key value pair to dictionary
d[5] = "Five"
d[3] = "Three"
d[10] = "Ten"
print("Dictionary", d)

# dropping a key-value pair
del d[10]
print("Dictionary", d)

Dictionary {5: 'Five', 3: 'Three', 10: 'Ten'}
Dictionary {5: 'Five', 3: 'Three'}

# List


* Lists need not be homogeneous always which makes it the most powerful tool in Python. 
* A single list may contain DataTypes like Integers, Strings, as well as Objects.
* Lists are **mutable**, and hence, they can be altered even after their creation.
* List in Python are ordered and have a definite count.
* The elements in a list are indexed according to a **definite sequence** and the indexing of a list is done with **0 being the first index**.
* Each element in the list has its definite place in the list, which **allows duplicating of elements in the list**, with each element having its own distinct place and credibility.

* Lists are a useful tool for preserving a sequence of data and further iterating over it.

In [ ]:
# Python program to demonstrate
# Creation of List

# Creating a List
List_e = []
print("Blank List: ")
print(List_e)

# Creating a List of numbers
List_n = [10, 20, 14]
print("\nList of numbers: ")
print(List_n)

# Creating a List of strings and accessing
# using index
List_s = ["Geeks", "For", "Geeks"]
print("\nList Items: ")
print(List_s[0])
print(List_s[2])

# Creating a Multi-Dimensional List
# (By Nesting a list inside a List)
List = [['Geeks', 'For'], ['Geeks']]
print("\nMulti-Dimensional List: ")
print(List)
print(List[0])
print(List[1])

Blank List:
[]

List of numbers:
[10, 20, 14]

List Items:
Geeks
Geeks

Multi-Dimensional List:
[['Geeks', 'For'], ['Geeks']]
['Geeks', 'For']
['Geeks']

In [ ]:
# Creating a List with
# the use of Numbers
# (Having duplicate values)
List = [1, 2, 4, 4, 3, 3, 3, 6, 5]
print("\nList with the use of Numbers: ")
print(List)

# Creating a List with
# mixed type of values
# (Having numbers and strings)
List = [1, 2, 'Geeks', 4, 'For', 6, 'Geeks']
print("\nList with the use of Mixed Values: ")
print(List)

List with the use of Numbers:
[1, 2, 4, 4, 3, 3, 3, 6, 5]

List with the use of Mixed Values:
[1, 2, 'Geeks', 4, 'For', 6, 'Geeks']

## Size of List

In [ ]:
# Creating a List
List1 = []
print(len(List1))

# Creating a List of numbers
List2 = [10, 20, 14]
print(len(List2))

0
3

In [ ]:
List_n = [['Geeks', 'For'], ['Geeks']]
print(len(List_n))

2

In [ ]:
List_n.append(3)
print(List_n)

[['Geeks', 'For'], ['Geeks'], 3, 3]

In [ ]:
List_n.append([4,5,6,7,4])
print(List_n)

[['Geeks', 'For'], ['Geeks'], 3, 3, [4, 5, 6, 7, 4]]

In [ ]:
print(len(List_n))

5

## Adding element to the list using append

In [ ]:
# Adding elements to the List using Iterator
for i in range(1, 4):
    List_n.append(i)
print("\nList after Addition of elements from 1-3: ")
print(List_n)

List after Addition of elements from 1-3:
[['Geeks', 'For'], ['Geeks'], 3, 3, [4, 5, 6, 7, 4], 1, 2, 3, 1, 2, 3]

In [ ]:
# Adding elements to the List using Iterator
for i in range(1, 2):
    List_n.append(i)
print("\nList after Addition of elements from 1-3: ")
print(List_n)

List after Addition of elements from 1-3:
[['Geeks', 'For'], ['Geeks'], 3, 3, [4, 5, 6, 7, 4], 1, 2, 3, 1, 2, 3, 1, 1]

In [ ]:
# Adding Tuples to the List
List.append((5, 6))
print("\nList after Addition of a Tuple: ")
print(List)

List after Addition of a Tuple:
[1, 2, 'Geeks', 4, 'For', 6, 'Geeks', (5, 6), (5, 6)]

In [ ]:
# Addition of List to a List
List2 = ['For', 'Geeks']
List.append(List2)
print("\nList after Addition of a List: ")
print(List)

List after Addition of a List:
[1, 2, 'Geeks', 4, 'For', 6, 'Geeks', (5, 6), (5, 6), ['For', 'Geeks'], ['For', 'Geeks']]

## Add elements to the list using insert() method
`List.insert(0, 'Geeks')`
* append() method only works for the addition of elements at the end of the List
* insert() method is used for addition of elements at the desired position.
* insert() method requires two `arguments(position, value)`

In [ ]:
# Python program to demonstrate
# Addition of elements in a List

# Creating a List
List = [1,2,3,4]
print("Initial List: ")
print(List)

# Addition of Element at
# specific Position
# (using Insert Method)
List.insert(3, 12)
List.insert(0, 'Geeks')
print("\nList after performing Insert Operation: ")
print(List)

Initial List:
[1, 2, 3, 4]

List after performing Insert Operation:
['Geeks', 1, 2, 3, 12, 4]