<a href="https://colab.research.google.com/github/datagrad/Learning-Python/blob/main/Python_Collections_(Arrays).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

There are four collection data types in the Python programming language:

1. **List** is an ordered and changeable collection that allows duplicate members. 
2. **Tuple** is an ordered and unchangeable collection that allows duplicate members.
3. **Set** is an unordered, unchangeable, and unindexed collection that can't have any duplicate members.
4. **Dictionary** is an ordered and changeable collection without any duplicate members, it can have duplicate values for distinct key, but can never have duplicate key.

# Adding and Removing Items from List, Set, Dictionary
Note that tuples are immutable.

## Lists

In [6]:
l = []

# Adding Element into list
l.append("a")
l.append(10)
print("Adding a and 10 in list", l)

# Popping Elements from list
l.pop()
print("Popped one element from end of the list", l)
print()

Adding a and 10 in list ['a', 10]
Popped one element from end of the list ['a']

## Set

In [9]:

s = set()

# Adding element into set
s.add("abc")
s.add(10)
print("Adding abc and 10 in set", s)

# Removing element from set
s.remove("abc")
print("Removing abc from set", s)
print()

Adding abc and 10 in set {10, 'abc'}
Removing abc from set {10}

## Tuple

In [17]:
#Creating a tuple with elements of a list

list_p=[1,"abc",3.5]

t = tuple(list_p)
print("Tuple", t)
print()

# cant add or remove an item, Tuples are immutable!


#creating a tuple with simple elements 
thistuple = ("apple", "banana", "cherry")
print(thistuple)

Tuple (1, 'abc', 3.5)

('apple', 'banana', 'cherry')

## Dictionary

In [18]:
d = {}

# Adding key value pair to dictionary
d[5] = "Five"
d[3] = "Three"
d[10] = "Ten"
print("Dictionary", d)

# dropping a key-value pair
del d[10]
print("Dictionary", d)

Dictionary {5: 'Five', 3: 'Three', 10: 'Ten'}
Dictionary {5: 'Five', 3: 'Three'}