<a href="https://colab.research.google.com/github/datagrad/Learning-Python/blob/main/Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sets


**`set1 = {0, 1, 2, 3, 5, 6, 7, 8, 9, 'am', 'Hi', 54, 'I'}`**

---


* Set is an unordered collection of data type that is iterable, mutable and has no duplicate elements.
* The order of elements in a set is undefined though it may consist of various elements.



* It has a highly optimized method for checking whether a specific element is contained in the set.


---

In [2]:
set1 = set()
print(set1)

set()

# String to set

In [6]:
set2 = set("STRING")
print(set2)

set3 = set("ORANGE IS ONE OF THE TASTIEST FRUIT")
print(set3)

{'S', 'G', 'N', 'R', 'I', 'T'}
{'S', 'U', 'G', 'N', 'O', 'R', 'F', 'H', ' ', 'I', 'E', 'A', 'T'}

## List to Set

In [8]:
set4 = set(["ORANGE", "IS", "ONE", "OF", "THE", "TASTIEST", "FRUIT"])
print(set4)

{'IS', 'OF', 'THE', 'TASTIEST', 'FRUIT', 'ORANGE', 'ONE'}

In [12]:
set5 = set([1,2,3,54,7,6,5,3,8,9,0,"Hi", "I", "am","Hi"])
print(set5)

{0, 1, 2, 3, 5, 6, 7, 8, 9, 'am', 'Hi', 54, 'I'}

In [11]:
set6 = set(["Hi","I", "am", "Kamal", "I", "am", "an", "Engineer"])
print(set6)

{'Kamal', 'am', 'Hi', 'an', 'Engineer', 'I'}

## Addition of elements in a Set
set1.add("an")

In [14]:
set1 = set()
print(set1)

# Adding element and tuple to the Set
set1.add(8)
set1.add("an")
set1.add((6,7))
print("\nSet after Addition of Three elements: ")
print(set1)

set()

Set after Addition of Three elements:
{8, (6, 7), 'an'}

In [ ]:
# Adding elements to the Set
# using Iterator
for i in range(1, 6):
	set1.add(i)
print("\nSet after Addition of elements from 1-5: ")
print(set1)