<a href="https://colab.research.google.com/github/datagrad/Learning-Python/blob/main/Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sets


**`set1 = {0, 1, 2, 3, 5, 6, 7, 8, 9, 'am', 'Hi', 54, 'I'}`**

---


* Set is an unordered collection of data type that is iterable, mutable and has no duplicate elements.
* The order of elements in a set is undefined though it may consist of various elements.



* It has a highly optimized method for checking whether a specific element is contained in the set.


---

In [2]:
set1 = set()
print(set1)

set()

## String to set

In [6]:
set2 = set("STRING")
print(set2)

set3 = set("ORANGE IS ONE OF THE TASTIEST FRUIT")
print(set3)

{'S', 'G', 'N', 'R', 'I', 'T'}
{'S', 'U', 'G', 'N', 'O', 'R', 'F', 'H', ' ', 'I', 'E', 'A', 'T'}

## List to Set

In [8]:
set4 = set(["ORANGE", "IS", "ONE", "OF", "THE", "TASTIEST", "FRUIT"])
print(set4)

{'IS', 'OF', 'THE', 'TASTIEST', 'FRUIT', 'ORANGE', 'ONE'}

In [12]:
set5 = set([1,2,3,54,7,6,5,3,8,9,0,"Hi", "I", "am","Hi"])
print(set5)

{0, 1, 2, 3, 5, 6, 7, 8, 9, 'am', 'Hi', 54, 'I'}

In [11]:
set6 = set(["Hi","I", "am", "Kamal", "I", "am", "an", "Engineer"])
print(set6)

{'Kamal', 'am', 'Hi', 'an', 'Engineer', 'I'}

## Addition of elements in a Set
set1.add("an")

In [1]:
set1 = set()
print(set1)

# Adding element and tuple to the Set
set1.add(8)
set1.add("an")
set1.add((6,7))
print("\nSet after Addition of Three elements: ")
print(set1)

set()

Set after Addition of Three elements:
{8, (6, 7), 'an'}

In [2]:
# Adding elements to the Set
# using Iterator
for i in range(1, 6):
	set1.add(i)
print("\nSet after Addition of elements from 1-5: ")
print(set1)

Set after Addition of elements from 1-5:
{1, 2, 3, (6, 7), 4, 5, 8, 'an'}

## Using update() method
* Used for addition of two or more elements Update() method is used.
* The update() method accepts lists, strings, tuples as well as other sets as its arguments. In all of these cases, duplicate elements are avoided.

In [5]:
# Addition of elements to the Set using Update function
set1 = set([ 4, 5, (6, 7)])
set1.update([10, 11])
set1.update([4, 10,12, 11])
print(set1)

{4, 5, (6, 7), 10, 11, 12}

## Accessing a Set

In [14]:
set1 = set(["Orange", "is", "orange"])
for i in set1:
	print(i, end=" ")

print("is" in set1)  # Checking the element using in keyword

Orange orange is True

## Removing elements from the Set
Elements can be removed from the Set by using built-in remove() function but a KeyError arises if element doesn’t exist in the set. To remove elements from a set without KeyError, use discard(), if the element doesn’t exist in the set, it remains unchanged.

#### Using .discard()

In [19]:
set1 = set([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])

# Removing elements from Set using Discard() method
set1.discard(8)
set1.discard(9)

print(set1)

{1, 2, 3, 4, 5, 6, 7, 10, 11, 12}

#### Using .remove()

In [20]:

set1 = set([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])

# Removing elements from Set  using Remove() method
set1.remove(5)
set1.remove(6)
print(set1)

{1, 2, 3, 4, 7, 8, 9, 10, 11, 12}

#### Using iteration

In [21]:

set1 = set([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])

# Removing elements from Set using iterator method
for i in range(1, 5):
  set1.remove(i)

print(set1)

{5, 6, 7, 8, 9, 10, 11, 12}

#### Using .pop()

In [22]:

set1 = set([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])

# Removing elements from Set  using Remove() method
set1.pop()

print(set1)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

#### Using .clear()
To remove all the elements from the set

In [23]:

set1 = set([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])

# Removing elements from Set  using Remove() method
set1.clear()

print(set1)

set()

## Union of Sets

In [26]:
set1 = {2, 4, 5, 6}
set2 = {4, 6, 7, 8}
set3 = {7, 8, 9, 10}

# union of two sets
print("set1 U set2 : ", set1 | set2) # We can use “|” operator to find the union of the sets.

# union of three sets
print("set1 U set2 U set3 :", set1 |set2 | set3) # We can use “|” operator to find the union of the sets.



# union of two sets
print("set1 U set2 : ", set1.union(set2))

# union of three sets
print("set1 U set2 U set3 :", set1.union(set2, set3))

set1 U set2 :  {2, 4, 5, 6, 7, 8}
set1 U set2 U set3 : {2, 4, 5, 6, 7, 8, 9, 10}
set1 U set2 :  {2, 4, 5, 6, 7, 8}
set1 U set2 U set3 : {2, 4, 5, 6, 7, 8, 9, 10}