<a href="https://colab.research.google.com/github/datagrad/Learning-Python/blob/main/String_Operations_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello")
print('Hello')

Hello
Hello

In [ ]:
a = "Hello"
print(a)

Hello

## Multiline Strings

* use three double quotes
or
* use three single quotes:

In [ ]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)


b = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(BaseException)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.
<class 'BaseException'>

# Slicing

In [ ]:
# Get the characters from position 0:

b = "Hello, World!"
print(b[0])
print(b[1])
print(b[2])
print(b[3])

H
e
l
l

In [ ]:
# Get the characters from position 0:

b = "Hello, World!"
print(b[-1])
print(b[-2])
print(b[-3])
print(b[-4])

!
d
l
r

In [ ]:
# Get the characters from position 2 to position 5 (not included):

b = "Hello, World!"
print(b[2:5])


# Output: position 2: l
# position 3: l
# position 4: 0

llo

## Slice from anywhere

In [2]:
b = "Hello, World!"
print(b[2:5])

llo

In [9]:
x = "abcdefghijklmnopqrstuvwxyz"

print(x[-1])
print(x[2:5])
print(x[0:5])
print(x[:5])
print(x[5:])

print(x[-5:-2])
print(x[:-5])

z
cde
abcde
abcde
fghijklmnopqrstuvwxyz
vwx
abcdefghijklmnopqrstu

## Slice From the Start

In [ ]:
b = "Hello, World!"
print(b[:5])

Hello

## Slice To the End

In [ ]:
b = "Hello, World!"
print(b[2:])

llo, World!

## Negative Indexing

In [ ]:
b = "Hello, World!"
print(b[-5:-2])

orl

# Modify String

## Upper Case 


---


a.upper()



---

## Lower Case


---


a.lower()

---

## Remove WhiteSpace

---

a.strip()


---


## Replace String



---

a.replace("ex", "new")


---

## Split String

---

a.split(",")


---

## Modify String Examples

In [24]:
a= "Hi Gentlemen, I am Kamal Kumar! "

In [28]:
print(a.upper())

HI GENTLEMEN, I AM KAMAL KUMAR!

In [27]:
print(a.lower())

hi gentlemen, i am kamal kumar!

In [26]:
print(a.strip())

Hi Gentlemen, I am Kamal Kumar!

In [25]:
print(a.replace("Hi", "Hello"))

Hello Gentlemen, I am Kamal Kumar!

# Concatenate 

---

* print(a,", ",b)
* or
* print(a +", " + b)

---

In [30]:
a = "Hi Gentlemen"
b = "I am Kamal Kumar!"
intro = a +", " + b
print(intro)

Hi Gentlemen, I am Kamal Kumar!

In [31]:
print(a,", ",b)

Hi Gentlemen ,  I am Kamal Kumar!

In [32]:
print(a +", " + b)

Hi Gentlemen, I am Kamal Kumar!

# Format String

In [33]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [34]:
quantity = input(int())
itemno = input(int())
price = input(float())
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

12
3
36
I want to pay 36 dollars for 12 pieces of item 3.

# Escape Character

* An escape character is a backslash \ followed by the character you want to insert.
* Escape character are illegal character in a string, for example: double quote inside a string.

**txt = "We are the so-called "Vikings" from the north."**
* The above string will not be displayed correctly in string, to display it correctly, we should use \ before " wherever " is part of string.

In [37]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

## Escape Cahracters:



---

    \'      =>     	Single Quote



---

    \\      =>     	Backslash

---

    \n      =>     	New Line

---

    \r      =>     	Carriage Return

---

    \t      =>     	Tab

---

    \b      =>     	Backspace

---

    \f      =>     	Form Feed

---

    \ooo      =>     	Octal value

---

    \xhh      =>     	Hex value

---

# String Methods


---


```
a.capitalize()
```

* capitalises first character and all other character to lower case.


---
```
a.casefold()
```

* converts complete text to lower case.


---
```
a.center(length, character)
```

* The center() method will center align the string, using a specified character (space is default) as the fill character.



---
```
a.count(value, start, end)
```

* counts the number of times a specified value appears in the string.
* 
```
Example: a.count("apple", 10, 24)
```
---
```
a.find(value, start, end)
```


* The find() method finds the first occurrence of the specified value.

* The find() method returns -1 if the value is not found.

* The find() method is almost the same as the index() method, the only difference is that the index() method raises an exception if the value is not found.
---




---

In [44]:
a= "hi Gentlemen, I am Kamal Kumar!. How are you? "

In [43]:
print(a.capitalize())

Hi gentlemen, i am kamal kumar!. how are you?

In [46]:
print(a.casefold())

hi gentlemen, i am kamal kumar!. how are you?

In [48]:
# string.center(length, character)

print(a.center(100,))

                           hi Gentlemen, I am Kamal Kumar!. How are you?

In [61]:
# string.count(value, start, end)


x= "An apple a Day Keeps the Doctor Away, but why not more than one apples a day?"
print(x.count("a"))

8

In [62]:
print(x.endswith("."))

print(x)

False
An apple a Day Keeps the Doctor Away, but why not more than one apples a day?

In [63]:
print(x.endswith("?"))

print(x)

True
An apple a Day Keeps the Doctor Away, but why not more than one apples a day?

In [66]:
print(x.find("apple"))
print(x.find("Doctor"))
print(x.find("apple", 10))

3
25
64

In [60]:
print(x)

-1