<a href="https://colab.research.google.com/github/datagrad/Learning-Python/blob/main/Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuple

### Tuple = ('G', 1, 'G', 4, 7) 


Tuple is a collection of Python objects much like a list. The sequence of values stored in a tuple can be of any type, and they are indexed by integers. 

Values of a tuple are syntactically separated by ‘commas’. Although it is not necessary, it is more common to define a tuple by closing the sequence of values in parentheses. This helps in understanding the Python tuples more easily.

Tuples are **immutable**, and usually, they contain a sequence of heterogeneous elements that are accessed via unpacking or indexing (or even by attribute in the case of named tuples).

In [24]:
# Empty Tuple
Tuple1 = ()
print("Empty Tuple : ",Tuple1)

print("="*5)
# Tuple with elements
Tuple2 = ('Orange', 'For')
print("Tuple with elements : ",Tuple2)
print("="*5)

Tuple3 = (5, 'Welcome', 7, 'Oranges')
print("Tuple with Mixed Datatypes: ",Tuple3)
print("="*5)

Empty Tuple :  ()
=====
Tuple with elements :  ('Orange', 'For')
=====
Tuple with Mixed Datatypes:  (5, 'Welcome', 7, 'Oranges')
=====

In [25]:
print("="*5)

Tuple4 = (Tuple1, Tuple2, Tuple3)
print(Tuple4)
print("="*5)

Tuple5 = Tuple2*3
print(Tuple5)
print("="*5)

=====
((), ('Orange', 'For'), (5, 'Welcome', 7, 'Oranges'))
=====
('Orange', 'For', 'Orange', 'For', 'Orange', 'For')
=====

In [26]:
# Concatenation

print(Tuple1)
print(Tuple2)
print(Tuple3)

Tuple7= Tuple1 + Tuple2 + Tuple3

print(Tuple7)

()
('Orange', 'For')
(5, 'Welcome', 7, 'Oranges')
('Orange', 'For', 5, 'Welcome', 7, 'Oranges')

In [27]:
# Creating a Tuple from the list and list from tuple
list1 = [1, 2, 4, 5, 6]
Tuple = tuple(list1)

print(Tuple)

List2 = list(Tuple)

print(List2)

(1, 2, 4, 5, 6)
[1, 2, 4, 5, 6]

In [28]:
# Creating a Tuple and list from String
Tuple1 = tuple('ORANGE')
print(Tuple1)

print(list(Tuple1))
print(list("STRING"))

('O', 'R', 'A', 'N', 'G', 'E')
['O', 'R', 'A', 'N', 'G', 'E']
['S', 'T', 'R', 'I', 'N', 'G']

In [29]:
# Indexing
Tuple1 = tuple("STRING")

print("First Element of Tuple : ",Tuple1[0])

print("Third Element of Tuple : ",Tuple1[2])

print("Lats Element of Tuple : ",Tuple1[-1])

First Element of Tuple :  S
Third Element of Tuple :  R
Lats Element of Tuple :  G

In [37]:
# Tuple unpacking
Tuple2 = ("Apple", "Grapes", "Mango")

# This line unpack
# values of Tuple1
a, b, c = Tuple2
print("\nValues after unpacking: ")
print("\n",a)
print("\n",b)
print("\n",c)

Values after unpacking:

 Apple

 Grapes

 Mango

In [36]:
# Indexing
Tuple3 = tuple("STRING")

a,b,c,d,e,f = Tuple3

print("\n",a)
print("\n",b)
print("\n",c)
print("\n",d)
print("\n",e)
print("\n",f)

 S

 T

 R

 I

 N

 G

## Slicing of a Tuple

In [38]:
Tuple1 = tuple('ORANGEISBESTFRUIT')

# Removing First element
print("Removal of First Element: ")
print(Tuple1[1:])

# Reversing the Tuple
print("\nTuple after sequence of Element is reversed: ")
print(Tuple1[::-1])

Removal of First Element:
('R', 'A', 'N', 'G', 'E', 'I', 'S', 'B', 'E', 'S', 'T', 'F', 'R', 'U', 'I', 'T')

Tuple after sequence of Element is reversed:
('T', 'I', 'U', 'R', 'F', 'T', 'S', 'E', 'B', 'S', 'I', 'E', 'G', 'N', 'A', 'R', 'O')

In [39]:
# Printing elements of a Range
print("\nPrinting elements between Range 4-9: ")
print(Tuple1[4:9])

Printing elements between Range 4-9:
('G', 'E', 'I', 'S', 'B')

## Deleting a Tuple

In [44]:
# Deleting a Tuple

Tuple3 = (0, 1, 2, 3, 4)
del Tuple3

Check if it is deleted

In [45]:
# Run this to check if tuple is deleted or not

#print(Tuple1)

## Built-in-Methods

Tuple.index()

In [52]:
Tuple1 = tuple('ORANGEISBESTFRUIT')

print(Tuple1.index("I"))

6

In [54]:
Tuple1 = tuple('ORANGEISBESTFRUIT')

print(Tuple1.count("I"))

2

* all()	Returns true if all element are true or if tuple is empty
* any()	return true if any element of the tuple is true. if tuple is empty, return false
* len()	Returns length of the tuple or size of the tuple
* enumerate()	Returns enumerate object of tuple
* max()	return maximum element of given tuple
* min()	return minimum element of given tuple
* sum()	Sums up the numbers in the tuple
* sorted()	input elements in the tuple and return a new sorted list
* tuple()	Convert an iterable to a tuple.

In [56]:
print(all(Tuple1))

True